<?xml version = "1.0" encoding ="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Suite">

    <test name = "Test1">

        <classes>
            <class name="ziua_43.pack_Test_Suite.Clasa_C1"/>
            <class name="ziua_43.pack_Test_Suite.Clasa_C2"/>
            <class name="ziua_43.pack_Test_Suite.Clasa_C3"/>
        </classes>
    </test>

    <test name = "Test2">

        <classes>
            <class name="ziua_43.pack_Test_Suite.Clasa_C1"/>
                <class name="ziua_43.pack_Test_Suite.Clasa_C2"/>
                    <class name="ziua_43.pack_Test_Suite.Clasa_C3"/>
        </classes>
    </test>

</suite>
